<script type="text/javascript" src="js/date.format.js"></script>

<div class="loading" id="loading"><img src="img/ajax-loader.gif"></div>
<div id="fade" class="black_overlay"></div>
<div class="wrapper">
	<div class="header-logo">
		<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}/events')">
            <span class="pointer"></span>
            <div class="content">
                <span class="label">Back</span>
            </div>
        </div>
	</div>
</div>
<div class="main-content">
	<div class="events-scrollable event-details-container" id="scrollable">
		<div class="full-width" id="event-advert-banner">
			<img src="http://{{advert_url}}" width="304px" height="235px" class="event-pic">
		</div>
		<h2 class="event-promo-title" id="event-title">{{event_title}}</h2>
		<p class="event-promo-details" id="event-details">{{details}}</p>
		<p class="period" id="event-period"><b>{{starts_at}}</b> - <b>{{ends_at}}</b></p><br/>
		<p class="blue-green-label">Terms & Conditions</p><br/>
		<ul class="terms-disclaimer" id="event-terms"><li>- {{terms}}</li></ul><br/>
		<p class="blue-green-label">Disclaimer</p><br/>
		<ul class="terms-disclaimer" id="event-disclaimer"><li>- {{disclaimer}}</li></ul>
	</div>
</div>