<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<div class="wrapper">
	<div class="header">
		<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}');">
            <span class="pointer"></span>
            <div class="content">
                <a class="label">{{mall_name}}</a>
            </div>
        </div>
        <div class="button bordered no-pointer">
            <span class="label" id="btn-edit-favorites">Edit</span>
            <span class="label" style="display:none" id="btn-done-favorites">Done</span>
        </div>

	</div>
</div>
<div class="main-content">
	<!-- <div class="header search">
		<input type="text" size="70"/>
	</div> -->
	<div class="favorites-container">
		<div class="fave-scrollable" id="scrollable">
			<div class="fave-header">My Favorites</div>
			<br/>
			<ul class="nav nav-tabs nav-stacked list-name" id="favorites">
				<li ng-repeat="fave in favorites"><a href="#/{{mall_name}}/{{mall_id}}/stores/{{fave.store_location_id}}">{{fave.store_name}}</a></li>
			</ul>
			<h6 id="delete-label" style="display:none">Click on any item in the list to delete.</h6>
			<ul class="nav nav-tabs nav-stacked list-name" id="delete-favorites" style="display:none">
				<li ng-repeat="fave in favorites"><a href="" ng-click="deleteFavorite(fave.store_location_id)">{{fave.store_name}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="bottom-nav">
	<ul class="main-nav">
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}" id="home"></a>
		</li>
		<li class="nav">
			<a href="check_in.html" id="check_in"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/favorites" id="favorites" class="active"></a>
		</li>
		<li class="nav">
			<a href="share.html" id="share"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/preferences" id="prefs"></a>
		</li>
	</ul>
</div>
<script type="text/javascript" src="js/fave.js"></script>
