<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

<div class="loading" id="loading"><img src="img/ajax-loader.gif"></div>
<div id="fade" class="black_overlay"></div>
<div class="wrapper">
	<div class="header-logo">
		<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}');">
            <span class="pointer"></span>
            <div class="content">
                <span class="label" id="mall-name">{{mall_name}}</span>
            </div>
        </div>
	</div>
</div>

<div id="myModal" class="reveal-modal">
	<div style="height: 40px !important; width:40px !important;">
		<img src="img/ajax-loader2.gif" width="30px" height="30px">
	</div>
</div>

<div class="main-content">
	<div class="food-container">
		<div class="food-scrollable" id="scrollable">
			<ul class="nav nav-tabs nav-stacked list-name" id="foods">
				<li ng-repeat="food in foods">
					<a href="#/{{mall_name}}/{{mall_id}}/food/{{food.store_id}}/store-details"</a>
					{{stripName(food.name)}}
					<div class="subtitle">{{getCat(food.store_id)}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="bottom-nav">
	<ul class="main-nav">
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}'" id="home" class="active"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="check_in"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/favorites" id="favorites"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="share"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/preferences" id="prefs"></a>
		</li>
	</ul>
</div>
