<div class="loading" id="loading"><img src="img/ajax-loader.gif"></div>
<div id="fade" class="black_overlay"></div>
<div class="wrapper">
	<div class="header-logo">
		<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}');">
            <span class="pointer"></span>
            <div class="content">
                <span class="label" id="mall-name">{{mall_name}}</span>
            </div>
        </div>
	</div>
</div>
<div class="main-content">
	<div class="black-container">
		<div class="mall-info-header" id="mall-info-header">
			<img src="http://{{logo_url}}" width="auto" height="64px" class="mall-logo">
			<div style="margin: 0 auto;"></div>
		</div>
		<div style="margin: 0 auto;"><img style="width:100%;" src="img/360Art/cell_perference_seperator_234x2.png"></div>
		<div class="mall-pic" id="mall-pic"><img src="http://{{photo_url}}" width="100%" height="135px"></div>
		<h2 class="mall-phone-num" id="mall-phone-num">Mall Phone #: {{phone_number}}</h2>
		<div class="mall-info-btn" id="mall-info-btn">
			<a href="mailto:'{{email}}"><img src="img/360Art/button_email_74x16.png"></a>
			<a href="#/{{mall_name}}/{{mall_id}}/mall-location"><img src="img/360Art/button_showOnMap_74x16.png"></a>
		</div>
	</div>
</div>
<div class="bottom-nav">
	<ul class="main-nav">
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}'" id="home" class="active"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="check_in"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/favorites" id="favorites"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="share"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/preferences" id="prefs"></a>
		</li>
	</ul>
</div>