<script type="text/javascript" src="js/jquery.min.js"></script>

<div class="wrapper">
	<div class="header-logo">
		<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}/mall-information')">
            <span class="pointer"></span>
            <div class="content">
                <span class="label" id="mall-name">{{mall_name}}</span>
            </div>
        </div>
		<h2></h2>
	</div>
</div>
<div class="main-content">
	<div id="map_canvas" style="height:100%; width: 100%;"></div>
</div>