
<div class="wrapper">
		<div class="header">
			<div class="button bordered back" onclick="goBack('#/');">
                <span class="pointer"></span>
                <div class="content">
                    <span class="label">Back</span>
                </div>
            </div>
        	<h2 id="mall-name">{{mall_name}}</h2>
        </div>
	</div>
</div>
<div class="main-content">
	<div class="features-wrapper">
		<ul class="features">
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/stores" id="stores"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/food" id="food"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/{{mall_code}}/cinemas" id="cinema"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/events" id="events"></a>
			</li>
			<li class="option">
				<a href="promos.html" id="promos"></a>
			</li>
			<li class="option">
				<a href="#" id="amore"></a>
			</li>
			<li class="option">
				<a href="#" id="ufirst"></a>
			</li>
			<li class="option">
				<a href="mall_info.html" id="mall_info"></a>
			</li>
			<li class="option">
				<a href="parking.html" id="parking"></a>
			</li>
		</ul>
	</div>
	<div id="slideshowWrapper">
		<ul id="ads_slideshow" style="position: absolute;">
		</ul>
	</div>
	<!-- <div class="divider"></div> -->
</div>
<div class="bottom-nav">
	<ul class="main-nav">
		<li class="nav">
			<a href="mall_features.html" id="home" class="active"></a>
		</li>
		<li class="nav">
			<a href="check_in.html" id="check_in"></a>
		</li>
		<li class="nav">
			<a href="favorites.html" id="favorites"></a>
		</li>
		<li class="nav">
			<a href="share.html" id="share"></a>
		</li>
		<li class="nav">
			<a href="prefs.html" id="prefs"></a>
		</li>
	</ul>
</div>
