<div class="loading" id="loading"><img src="img/ajax-loader.gif"></div>
<div id="fade" class="black_overlay"></div>
<div class="wrapper">
		<div class="header">
			<div class="button bordered back" onclick="goBack('#/');">
                <span class="pointer"></span>
                <div class="content">
                    <span class="label">Back</span>
                </div>
            </div>
        	<h2 id="mall-name">{{mall_name}}</h2>
        </div>
	</div>
</div>
<div class="main-content">
	<div class="features-wrapper">
		<ul class="features">
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/stores" id="stores"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/food" id="food"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/{{mall_code}}/cinemas" id="cinema"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/events" id="events"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/promos" id="promos"></a>
			</li>
			<li class="option">
				<a href="#" id="amore" onclick="showAlert('amore')"></a>
			</li>
			<li class="option">
				<a href="#" id="ufirst" onclick="showAlert('ufirst')"></a>
			</li>
			<li class="option">
				<a href="#/{{mall_name}}/{{mall_id}}/mall-information" id="mall_info"></a>
			</li>
			<li class="option">
				<a href="#" id="parking" onclick="showAlert('parking')"></a>
			</li>
		</ul>
	</div>
	<div id="slideshowWrapper">
		<ul id="ads_slideshow" style="position: absolute;">
		</ul>
	</div>
	<!-- <div class="divider"></div> -->
</div>
<div class="bottom-nav">
	<ul class="main-nav">
		<li class="nav">
			<a href="#" onclick="goBack('#/{{mall_name}}/{{mall_id}}')" id="home" class="active"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="check_in"></a>
		</li>
		<li class="nav">
			<a href="#/{{mall_name}}/{{mall_id}}/favorites" id="favorites"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="share"></a>
		</li>
		<li class="nav">
			<a href="#" onclick="showAlert('bottom-nav')" id="prefs"></a>
		</li>
	</ul>
</div>
