<div class="loading" id="loading"><img src="img/ajax-loader.gif"></div>
<div id="fade" class="black_overlay"></div>
<div class="wrapper">
		<div class="header">
			<div class="button bordered back" onclick="goBack('#/{{mall_name}}/{{mall_id}}/{{mall_code}}/cinemas');">
                <span class="pointer"></span>
                <div class="content">
                    <span class="label">Back</span>
                </div>
            </div>
            <h2 id="movie-name">{{movie_title}}</h2>
		</div>
	</div>
	<div class="main-content">
		<div class="cinema-container">
			<div id="movie-details-container" style="display:block;">
				<div class="movie-scrollable" id="scrollable">
					<div class="movie-header" id="movie_header">
						<div style="text-align: center;"><p class="movie-title" id="movie-title"></p></div>
						<img src="{{picture}}" style="float: left;" width="100px" height="155px">
					</div>
					<p class="artists" id="artists">{{artists}}</p>
					<p class="rating" id="rating">{{ratings}}</p><br/><br/>
					<p class="plot" id="plot">{{synopsis}}</p><br/>
					<!-- <a href="" class="btn-buy">Buy Online</a><br/><br/> -->
			    </div>
			</div>
			<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
			<div id="showtimes-container" style="display:none;">
				<div class="movie-scrollable" id="scrollable">
					<ul class="nav nav-tabs nav-stacked list-name" id="screening">
						<li ng-repeat="sched in schedules"><a>{{sched.screening}}</a></li>
					</ul>
			    </div>
			</div>
		</div>
		<div class="cinema-footer">
			<a href="" id="movie-details" style="background-color: rgba(95, 95, 95, 0.701961);">
				<div class="movie-sched-option">
					<img id="movie-details-icon" src="img/360Art/movie-details-active.png" width="20.8px"><br/>
					<span>Movie Details</span>
				</div>
			</a>
			<a href="" id="showtimes">
				<div class="movie-sched-option">
					<img id="showtimes-icon" src="img/360Art/showtimes.png" width="30px"><br/>
					<span>Showtimes</span>
				</div>
			</a>
		</div>
	</div>
	<script type="text/javascript" src="js/cinema.js"></script>	